services:
  perf-tests:
    build: .
    volumes:
      - ./reports:/opt/perftest/reports
    env_file:
      - 'compose/aws.env'
      - 'compose/perf-tests.env'
    environment:
      S3_ENDPOINT: 'http://localstack:4566'
      RESULTS_OUTPUT_S3_PATH: 's3://test-results'
      SERVICE_ENDPOINT: localhost
      SERVICE_PORT: 3000
      SERVICE_URL_SCHEME: http
      CI: true
      ENVIRONMENT: dev
      TEST_SCENARIO: create-organisation/baseline-test.jmx
    networks:
      - performance-tests

  localstack:
    image: localstack/localstack:4.3.0
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # external services port range
    restart: always
    env_file:
      - 'compose/aws.env'
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: WARN # Localstack DEBUG Level
      SERVICES: s3, sqs, sns
      LOCALSTACK_HOST: 127.0.0.1
    volumes:
      - '${TMPDIR:-/tmp}/localstack:/var/lib/localstack'
      - ./compose/localstack:/etc/localstack/init/ready.d
    healthcheck:
      test: [ "CMD", "stat", "/tmp/READY" ]
      interval: 3s
      start_period: 5s
      retries: 3
    networks:
      - performance-tests

  web-results:
    image: nginx:alpine
    ports:
      - '8080:80'
    volumes:
      - ./reports:/usr/share/nginx/html

networks:
  performance-tests:
    driver: bridge

